<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">

<div>

  <h1>Le Monde.fr - Actualités et Infos en France et dans le monde </h1>
  <h2>
    Le Monde.fr - 1er site d’information. Les articles du journal et toute l’actualité en continu : International, France, Société, Economie, Culture, Environnement, Blogs ...
  </h2>
  <h3>Le Monde - L’utilisation des flux RSS du Monde.fr est réservée à un usage strictement personnel, non professionnel et non collectif. Toute autre exploitation doit faire l’objet d’une autorisation et donner lieu au versement d’une rémunération. Contact : droitsdauteur@lemonde.fr"</h3>
</div>



<table class = "table table-striped">
    <thead>
        <tr>
            <th> Title</th>
            <th> Pubdate </th>
            <th> Description</th>
            <th> Guid </th>
            <th> Link </th>
            <th> Content </th>
            <th> Credit </th>



        </tr>
    </thead>
    <tbody>
   
  

        <tr *ngFor = "let item of items" >
            <td> {{ item.title }} </td>
            <td> {{ item.pubdate }} </td>
            <td> {{ item.description }} </td>
            <td> {{ item.guid }} </td>
            <td> {{ item.link }} </td>
            <td> {{ item.content }} </td>
            <td> {{ item.credit }} </td>


            <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                  <a  (click)="onOpenModal(item, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              </div>
    </div>

           
        </tr>
      </tbody>
  

  
</table>




<div class="modal-body">
  <form #editForm="ngForm" >
     <div class="form-group">
        <label for="name">Title</label>
        <input type="text" ngModel="{{editItem?.title}}"  name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="title">
     </div>

     <div class="form-group">
      <label for="email">pubdate</label>
      <input type="date" ngModel="{{editItem?.pubdate}}"  name="pubdate" class="form-control" id="pubdate" placeholder="pubdate">
   </div>
  
     <div class="form-group">
        <label for="text">Description</label>
        <input type="text" ngModel="{{editItem?.description}}"  name="description" class="form-control" id="description" placeholder="description">
     </div>
     <div class="form-group">
        <label for="text">Guid</label>
        <input type="text" ngModel="{{editItem?.guid}}" name="guid" class="form-control" id="guid" placeholder="guid">
     </div>
     <div class="form-group">
        <label for="link">Link</label>
        <input type="text" ngModel="{{editItem?.link}}"  name="link" class="form-control" id="link" name="phone" placeholder="link">
     </div>
     <div class="form-group">
        <label for="content">Content</label>
        <input type="text" ngModel="{{editItem?.content}}"  name="content" class="form-control" id="context" placeholder="context">
     </div>

     <div class="form-group">
      <label for="text">Credit</label>
      <input type="text" ngModel="{{editItem?.credit}}"  name="credit" class="form-control" id="credit" placeholder="credit">
   </div>
     <div class="modal-footer">
        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
        <button (click)="onUpdateItem(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
     </div>
  </form>
</div>





















</div>
</body>
</html>





  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
























